html{
    scroll-behavior: smooth;
}
#header_background{
    background-color:#8cbfe870;
}

#header_title{
    font-family: 'Cookie', cursive;
    font-size: 34px; color: #1d643b;
}

.header_links{
    font-size: 17px;
}

.link_space{
    padding-right: 15px;
}

#footer_box{
    background-color: #262a2d;
    min-height: 300px;
}

.footer_title{
    font-size: 31px;
    font-family: 'Amatic SC', cursive;
    color: #f8f9fa;
}

.footer_y_space{
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer_top_space{
    padding-top: 40px;
}

.footer_links{
    color: white;
}

.footer_borderline{
    border-bottom: 1px solid #ecebde59;
}

#about_page_box{
    min-height: 450px;
}

#about_page_title{
    font-size: 35px;
    font-family: 'Cookie', cursive; color: #bba71e;
}

.content_bg_color{
    background-color: #e9ecef;
}

#contact_title{
    font-size: 31px;
}

#contact_top_box{
    padding-top: 20px;
    padding-bottom: 20px;
}

#contact_box_left{
    padding-bottom: 30px;
}

#contact_box_right{
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact_right_title{
    font-size: 18px;
    color: #c51f1a;
}

.contact_right_text{
    font-weight: bold;
}

.contact_border_bottom{
    border-bottom: 1px solid #9ccbfb
}

.home_info{
    background-color: #6dafe6;
    padding-top: 40px;
    padding-bottom: 40px;
}

.padd_bottom{
    padding-bottom: 25px;
}

.home_info_title{
    font-weight: bold;
    color: white;
    font-size: 16px;
}

.home_info_text{
    font-size: 16px;
}

.font_size_medium{
    font-size: 18px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

#bg_color_gray{
    background-color: #dee2e6;
}

#menu_width{
    width: 300px;
}

.font-title{
    font-size: 30px;
    font-family: 'Philosopher', sans-serif;
}

.padding_medium{
    padding: 20px;
    padding-top: 40px;
}

.font_green{
    text-decoration: none;
    color: #1d643b;
    font-weight: bold
}

.padding_left_medium{
    padding-left: 18px;
    padding-right: 18px;
}

.padding_top_medium{
    padding-top: 18px;
}

#article_show_box{
    min-height: 600px;
}

#article_ingredients{
    font-size: 18px;
    color: #30543f;
    font-weight: bold;
    width: 350px;
}

#portion_box{
    width: 140px;
    padding-bottom: 30px;
}

#articles_in_cart{
    color: #0a0000;
    font-weight: bold;
}

#borderline_top{
    border-top: 1px solid #adb5bd;
}

.borderline_bottom{
    border-bottom: 1px solid #adb5bd;
}

.table_column{
    text-align: center;
}

.table_text_data{
    font-weight: bold;
    font-size: 18px;
}

.price_text{
    font-size: 20px;
    font-weight: bold;
    color: #77411d;
}

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    transition: all .4s;
    z-index: 1000;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 40px;
    color: #fff;
}
